#main{
width: 262px;
border: 1px solid #778899;	
background-color: #D3D3D3;
display: inline-block;
}
#display{
background-color: #E0EEEE;	
height: 50px;
border: 1px solid #778899;	
margin-left: 10px;	
margin-right: 10px;
vertical-align: bottom;
}
.one{
width: 45px;	
height: 35px;
	
}
table{
margin: 7px;	
}
#two{
width: 94px;	
height: 35px;	
}
#three{
width: 45px;	
height: 75px;	
}
p{
text-align: right;	
margin-right: 5px;
}